name: Deploy VS Code Extension

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"
  release:
    types:
      - created

jobs:
  deploy:
    name: "Deploy VS Code Extension"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./
    timeout-minutes: 15
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4

      - name: Install Node.js
        id: node-setup
        uses: actions/setup-node@v4
        with:
          node-version: 18.x

      - name: Install Dependencies
        id: install
        run: npm install

      - name: Publish
        id: publish
        if: success() && startsWith(github.ref, 'refs/tags/')
        run: npm run deploy
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
